# Python virtual environment
env/

# Python compiled/cache
__pycache__/
*.pyc

# Editors
.vscode
.idea

# JS dependencies
node_modules/

# Content
replaydata/*.json
perchweb/static/replays/*.w3g
temp/*
!temp/README.md
wig.db