# Python virtual environment
env/

# Python compiled/cache
__pycache__/
*.pyc

# Gunicorn Unix socket 
highperch.sock

# Editors
.vscode
.idea

# JS dependencies
node_modules/

# OS cache
.DS_Store

# Config
perchweb/app.cfg

# Content, default paths
replaydata/*.json
perchweb/static/replays/*.w3g
perchweb/static/pics
temp/*
!temp/README.md
wig.db
streams.db
