{% extends "layout.html" %}

{% block content %}
<div class="console">
    <div class="box">
        <h2>Controls</h2>
        <div class="inner">
            You currently have no control over this situation
        </div>
    </div>
    <span class="break"></span>
    <div class="box">
        <h2>Readout</h2>
        <div class="inner">
            <div class="statblock">{{ replays|length }} replays</div>
            <div class="statblock">
                <h3>Replay uploaders:</h3>
                <div class="stats">
                    <table>
                    {% for ip, count in uploader_ips %}<tr><td>{{ ip }}</td><td>{{ ip|embed_country|safe }}</td> <td><b>{{ count }}</b></td>{% endfor %}
                    </table>
                </div>
            </div>
            <div class="statblock">
                <h3>Replay savers:</h3>
                <div class="stats">
                    <table>
                        {% for saver, count in savers %}<tr><td><a href="{{ url_for('views.view_player', battletag=saver) }}">
                            {{ saver }}</a></td><td><b>{{ count }}</b></td>{% endfor %}
                    </table>
                </div>
            </div>
            <div class="statblock">
                <p><a href="/admin/wig.db">Database<i class="icon-download-alt"></i></a></p>
                <p><a href="/admin/replaydata.zip">Replay data<i class="icon-download-alt"></i></a></p>
                <p><a href="/admin/replayfiles.zip">Replay files<i class="icon-download-alt"></i></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}