{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        <div class="content">
            <h2>Click on log in</h2>
            <div class="cont text-center">
                <form class="login" action="/login" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="inputfields">
                        <input type="password" name="token" maxlength="64" placeholder="admin token" required />
                    </div>
                     <input type="Submit" class="action" value="login" />        
                 </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
