{% extends "layout.html" %}
{% import "replays.html" as replaymacros %}
{% import "tags.html" as tagmacros %}

{% block content %}
<div class="row top-controls">
    <div class="four columns top-control">
        <h2>Contribute replay</h2>
        <form class="upload" action="/upload" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="inputfields">
                <input type="file" name="replay" accept=".w3g" id="uploader" required />
                <input type="text" name="name" minlength="6" maxlength="50" id="upload_namer"
                    placeholder="Name your replay" required />
            </div>
            <input type="Submit" class="action" value="Upload" />
        </form>
    </div>
    <div class="eight columns top-control">
        <h2>Filter <i class="fexp hp-expand size-ph {% if filter_active %}active{% endif %}"></i></h2>
        <form action="/" class="filters hp-hidden v size-ph  {% if filter_active %}visible{% endif %}" method="GET" autocomplete="off">
            <div class="flowlist">
                <div class="filterrow">
                    <div class="filter">
                        <input type="text" name="name" placeholder="Replay name" value="{{ replay_filter['name'] or '' }}" />
                    </div>
                    <div class="filter">
                        <input type="text" name="map" placeholder="Map name" value="{{ replay_filter['map'] or '' }}" />
                    </div>
                    <div class="filter">
                        <input type="text" name="chat" placeholder="Chat content" value="{{ replay_filter['chat'] or '' }}" />
                    </div>
                </div>
                <div class="filterrow">
                    <div class="filter">
                        <label for="f_official">{{ tagmacros.tag('Official') }}only</label><input type="checkbox" name="official" id="f_official" {% if replay_filter['official'] %}checked{% endif %} />
                    </div>
                    <div class="filter">
                        <label for="f_sort">Sort by</label>
                        <select name="sort" id="f_sort">
                            <option value="id" {% if replay_filter['sort'] == 'id' %}selected{% endif %}>Latest</option>
                            <option value="length" {% if replay_filter['sort'] == 'length' %}selected{% endif %}>Longest</option>
                            <option value="tower" {% if replay_filter['sort'] == 'tower' %}selected{% endif %}>Most towers</option>
                            <option value="chat" {% if replay_filter['sort'] == 'chat' %}selected{% endif %}>Spiciest chat</option>
                        </select>
                    </div>
                    <div class="filter apply-filter">
                        <input type="submit" value="Apply" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="replays bricks">
    <h2>Showing {{ replays|length }} replays</h2>
    {% for replay in replays %}
    {{ replaymacros.card(replay, is_admin) }}
    {% endfor %}
</div>
{% endblock %}