<!DOCTYPE html>
<html class="{{background_style}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Highper.ch frontend test</title>
    <link rel="stylesheet" type="text/css" href="/static/style/perch.css?h={{ config['STATIC_HASH'] }}" />
    {% block styles %}{% endblock %}
</head>
<body class="{{background_style}}">

    <header> 
        <div class="container">
            <div class="row">
                <h1>high<span class="perch">per.ch</class></h1>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="views">
                    <a href="{{ url_for('views.index') }}" class="{% if nav == 'index' %}active{% endif %}"><span class="name">Replays</span><span class="shortname">Reps</span></a>
                    <a href="{{ url_for('views.peep') }}" class="{% if nav == 'peep' %}active{% endif %}"><span class="name">Pictures</span><span class="shortname">Pics</span></a>
                    <a href="{{ url_for('views.guide') }}" class="{% if nav == 'guide' %}active{% endif %}"><span class="name">Documentation</span><span class="shortname">Docs</span></a>
                </div>
                <span class="action submenu">▼</span>
                <ul>
                    {% for bg in backgrounds %}
                    <li>
                        <img
                            class="action"
                            data-bg="{{ bg['style'] }}"
                            src="/static/images/{{ bg['icon'] }}"
                            title="{{ bg['name'] }}"
                        />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="toasts">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% if chatlog %}
        <div class="chatlog">{{ chatlog['text'] }}</div>
        {% endif %}
        <p>Copyright &copy; {{ year }} <a href="mailto:admin@highper.ch">the Broliance</a></p>
    </footer>

    <script src="/static/script/perch.js?h={{ config['STATIC_HASH'] }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
