<!DOCTYPE html>
<html class="{{background_style}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - highper.ch home of the wig</title>
    <link rel="stylesheet" type="text/css" href="/static/style/perch.css?h={{ config['STATIC_HASH'] }}">
    {% block styles %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    {% if replay %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.base_url }}" />
        <meta property="og:title" content="Replay: {{ listinfo['Name'] }}" />
        <meta property="og:description" content="{{ replay['duration']|gametime }} long {{ replay['type'] }} game on {{ replay.map_name() }} with {{ replay.tower_count() }} towers" />
        <meta property="og:image" itemprop="image primaryImageOfPage" content="https://highper.ch{{ replay.map_name()|mapthumbnail }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:domain" value="highper.ch" />
        <meta name="twitter:title" value="Replay: {{ listinfo['Name'] }}" />
        <meta name="twitter:description" value="{{ replay['duration']|gametime }} long {{ replay['type'] }} game on {{ replay.map_name() }} with {{ replay.tower_count() }} towers" />
        <meta name="twitter:url" value="{{ request.base_url }}" />
        {% for (teamId, players) in replay.teams().items() %}
        <meta name="twitter:label{{ teamId + 1 }}" value="Team {{ teamId + 1 }}" />
        <meta name="twitter:data{{ teamId + 1 }}" value="{% for player in players %}{{ player['name'] }} [{{ player['race']|racetitle }} {{ player['apm'] }}APM]{% if not loop.last %}, {% endif %}{% endfor %}" />
        {% endfor %}
    {% endif %}
</head>
<body class="{{background_style}}">
    <a href="{{ url_for('views.index') }}" class="headerimg"><h1 title="Welcome to OUR web">high<span class="perch">per.ch</span></h1></a>
    <nav>
        <div class="container">
            <div class="row">
                <div class="views">
                    <a href="{{ url_for('views.index') }}" class="{% if nav == 'index' %}active{% endif %}"><span class="name">Replays</span><span class="shortname">Reps</span></a>
                    <a href="{{ url_for('views.peep') }}" class="{% if nav == 'peep' %}active{% endif %}"><span class="name">Pictures</span><span class="shortname">Pics</span></a>
                    <a href="{{ url_for('views.guide') }}" class="{% if nav == 'guide' %}active{% endif %}"><span class="name">Documentation</span><span class="shortname">Docs</span></a>
                    <a href="https://classic.highper.ch" target="_blank"><span class="name">Archives</span><span class="shortname">Old</span></a>
                </div>
                <ul>
                    {% if is_admin %}
                    <li class="admin">
                        <a href="{{ url_for('admin.analytics_report') }}"><img src="/static/images/reveal-20x20.png" title="Spying"></a>
                    </li>
                    <li class="admin div">
                        <a href="{{ url_for('admin.logout') }}"><img src="/static/images/brilliance-20x20.png" title="Dogg out"></a>
                    </li>
                    {% endif %}
                    {% for bg in backgrounds %}
                    <li class="background-picker">
                        <img
                            class="action"
                            data-bg="{{ bg['style'] }}"
                            src="/static/images/{{ bg['icon'] }}"
                            title="{{ bg['name'] }}"
                        />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
        <div class="row">
            <div class="12 columns">
                <ul class="toasts">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% if chatlog %}
        <div class="chatlog">{{ chatlog['text'] }}</div>
        {% endif %}
        <p>Copyright {% if not is_admin %}<a href="/admin" class="logout">{% endif %}&copy; {% if not is_admin %}</a>{% endif %} {{ year }} <a href="mailto:admin@highper.ch">Clan Towa</a></p>
    </footer>
    <script src="/static/script/perch.js?h={{ config['STATIC_HASH'] }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
