{% extends "layout.html" %}
{% import "replays.html" as replaymacros %}
{% import "charts.html" as chartmacros %}

{% macro racebar(games, totalGames, race) %}
<div class="chartrow">
    <div class="legend">{{ racemacros.icon(race) }}</div>
    <div class="barcontainer">
        <div class="bar {{ race }}" style="width:{{ (games*100)//totalGames }}%;"><span
                title="Games">{{ games }}</label></div>
    </div>
</div>
{% endmacro %}


{% block content %}
<div class="map details">
    <h2>{{ map['name'] }} map details</h2>
    <div class="content">
        <div class="stats">
            <div><b>{{ map['games'] }}</b> games played</div>
            {% if map['gold'] is not none %}<div><b>{{ map['gold']|thousands }}</b> available gold</div>{% endif %}
            <div><b>{{ map['avg_length']|gametime }}</b> average length</div>
            <div><b>{{ map['avg_towers'] }}</b> average towers built</div>
        </div>
        {% if map['info'] %}
        {% set mapinfo = map['info']|neutralinfo %}
        <div class="neutrals">
            {{ mapinfo['summary']|boldnumbers|safe }}
        </div>
        {% endif %}
        <div class="controls">
            <img class="controlshow mapzoom" title="Toggle map enlargement" src='/static/images/expandedview.png'>
            {% if map["drawmap"]["critters"] %}<img title="Toggle critter display" class="controlshow drawcritters" src='/static/images/game/items/mcri.png'>
            {% else %}<img class="controlshow" title="No critters on this map!" src='/static/images/critters-disabled.png'>{% endif %}
        </div>
        <div class="bigmap-container">
            <div class="bigmap lesshuge">
                <img src="{{ map['name']|bigmapurl }}" />
                {% if map['drawmap'] %}
                <canvas id="highlights"></canvas>
                <canvas class="drawmap delay" data-mapsize='{{ map["drawmap"]["map_size"]|tojson|safe }}'
                    data-mines='{{ map["drawmap"]["goldmines"]|tojson|safe }}' data-paintsize='6'{% if map["drawmap"]["neutralbuildings"] %} data-neutrals='{{ map["drawmap"]["neutralbuildings"]|tojson|safe }}'{% endif %} data-mapstarts='{{ map["drawmap"]["starts"]|tojson|safe }}'{% if map["drawmap"]["creepcamps"] %} data-creepcamps='{{ map["drawmap"]["creepcamps"]|tojson|safe }}'{% endif %}{% if map["drawmap"]["critters"] %} data-critters='{{ map["drawmap"]["critters"]|tojson|safe }}'{% endif %}></canvas>
                <div id="neutraltip"><div class="tiptext"></div></div>
                <div id="creeptip"></div>
                {% endif %}
            </div>
        </div>
        <div class="chart map">
            <b>Games played</b>
            {% for game_type in map['stats'] %}
            {{ chartmacros.row('t' + game_type['GameType'], game_type['GameType'], game_type['Games'], 'Games', (game_type['Games'] * 100) // map['games']) }}
            {% endfor %}
            <b>Average length</b>
            {% for game_type in map['stats'] %}
            {{ chartmacros.row('t' + game_type['GameType'], game_type['GameType'], game_type['AvgLength']|gametime, 'Game length', (game_type['AvgLength'] * 100) // map['max_length']) }}
            {% endfor %}
            {% if map['max_towers'] %}
            <b>Average tower count</b>
            {% for game_type in map['stats'] %}
            {{ chartmacros.row('t' + game_type['GameType'], game_type['GameType'], game_type['AvgTowers'], 'Towers built', (game_type['AvgTowers'] * 100) // map['max_towers']) }}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="replays">
    <h2>Latest replays</h2>
    {% for replay in recent_replays %}
    {{ replaymacros.card(replay, is_admin, lighten_color) }}
    {% endfor %}
</div>
{% endblock %}