{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        <div class="blend">
            <h2>Peep this pic</h2>
            <div class="cont text-center">
                <a href="{{ url_for('views.peep') }}">
                    <img class="peep" src="{{ pic['url'] }}" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="blend">
            <div class="cont">
                <p>This picature was forged in the heat of battle and can forever be accessed using the <a href="{{perma}}">permalink</a></p>
            </div>
        </div>
    </div>
</div>
{% if is_admin %}
<div class="row">
    <div class="twelve columns admin peep">
        <h2>Add-a-pic</h2>
        <div>
            <p>Filename will be preserved. If the picture is somehow connected to a reforged replay, specify.</p>
            <form action="/peep/upload" method="POST" enctype="multipart/form-data" autocomplete="off">
                <input type="file" name="pic" accept="image/*" required />
                <input type="text" name="replay" placeholder="Replay URL or ID, if applicable"  />
                <input type="Submit" class="action" value="Upload" />
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
