{% extends "layout.html" %}
{% import "replays.html" as replaymacros %}
{% import "races.html" as racemacros %}
{% import "charts.html" as chartmacros %}

{% macro racebar(games, totalGames, race) %}
{{ chartmacros.row(race, racemacros.icon(race), games, 'Games', (games * 100) // totalGames) }}
{% endmacro %}


{% block content %}
<div class="player details">
    <h2>{{ player['name'] }} player profile</h2>
    <div class="content">
        <div class="stats">
            <div><b>{{ player['total_games'] }}</b> games</div>
            <div><b>{{ player['AvgApm'] }}</b> APM</div>
            <div><b>{{ player['TowerCount'] }}</b> towers</div>
            {% if player['GoldSent'] != 0 %}<div><b>{{ player['GoldSent']|thousands }}</b> gold fed</div>{% endif %}
            {% if player['LumberSent'] != 0 %}<div><b>{{ player['LumberSent']|thousands }}</b> wood fed</div>{% endif %}
            <div><b>{{ player['ChatMessageCount'] }}</b> chirps</div>
        </div>
        <div class="chart race">
            {% if player['HUGames'] %}
            {{ racebar(player['HUGames'], player['total_games'], 'H') }}
            {% endif %}
            {% if player['ORGames'] %}
            {{ racebar(player['ORGames'], player['total_games'], 'O') }}
            {% endif %}
            {% if player['NEGames'] %}
            {{ racebar(player['NEGames'], player['total_games'], 'N') }}
            {% endif %}
            {% if player['UDGames'] %}
            {{ racebar(player['UDGames'], player['total_games'], 'U') }}
            {% endif %}
            {% if player['RDGames'] %}
            {{ racebar(player['RDGames'], player['total_games'], 'R') }}
            {% endif %}
        </div>
    </div>
</div>

<div class="replays">
    <h2>Latest replays</h2>
    {% for replay in recent_replays %}
        {{ replaymacros.card(replay, is_admin, lighten_color) }}
    {% endfor %}
</div>
{% endblock %}