{% extends "layout.html" %}
{% import "replays.html" as replaymacros %}

{% block content %}
<div class="player">
    <h2>{{ player['name'] }}</h2>
    <div class="content">
        <p>{{ player['total_games'] }} games played</p>
        <ul>
            <li>{{ player['HUGames'] }} Human</li>
            <li>{{ player['ORGames'] }} Orc</li>
            <li>{{ player['NEGames'] }} Night Elves</li>
            <li>{{ player['UDGames'] }} Undead</li>
        </ul>
        <div>{{ player['AvgApm'] }} average APM, {{ player['TowerCount'] }} towers built, {{ player['ChatMessageCount'] }} chirps</div>
    </div>
</div>

<div class="replays">
    <h2>Latest replays</h2>
    {% for replay in recent_replays %}
        {{ replaymacros.card(replay) }}
    {% endfor %}
</div>
{% endblock %}