{% import "races.html" as racemacros %}
{% import "tags.html" as tagmacros %}

{% macro card(replay, is_admin, lighten) %}
<div class="replay card">
    <div class="minimap">
        <a href="{{ url_for('views.view_replay', replay_id=replay['ID']) }}">
            <img src="{{replay['Map']|mapthumbnail}}" title="{{ replay['Map'] }}" />
            {% with drawmap = replay.get_drawmap(color_transform=lighten) %}
            {% if drawmap['map_size'] %}
            <canvas class="drawmap" data-towers='{{ drawmap["towers_json"]|safe }}'
                data-mapsize='{{ drawmap["map_size"]|tojson|safe }}'
                data-startlocations='{{ drawmap["start_locations_json"]|safe }}' data-paintsize='2'></canvas>
            {% endif %}
            {% endwith %}
        </a>
    </div>
    <div class="details">
        <div class="header">
            <a class="title" href="{{ url_for('views.view_replay', replay_id=replay['ID']) }}">{{ replay['Name'] }}</a>
        </div>
        <p><a href="/replay/{{ replay['ID'] }}/download" title="Download replay"><i class="icon-download-alt"></i></a> |
            {{ replay['Length']|gametime }} | {{ replay['GameType'] }} | {{ replay['Map'] }} |
            {{ replay['TowerCount'] }} towers | {{ replay.upload_date() }} {% if replay['Official'] %}|
            {{ tagmacros.tag('Official') }}{% endif %}{% if is_admin %}| <span
                class="adminonly">{{ replay['UploaderIP'] }} {{ replay['UploaderIP']|embed_country|safe }}{% endif %}
        </p>
        {{ teams(replay) }}
    </div>
</div>
{% endmacro %}

{% macro teams(replay, detailed=False, game_count=None) %}
{% if detailed %}
<div class="controls">
    <span class="hp-controls control" data-group="items"><img class="controlshow" src="/static/images/townportal.gif" title="Show item details"></span>
    <span class="hp-controls control hidden" data-group="items"><img class="itemhide" src="/static/images/townportal.gif" title="Hide item details"></span>
    <span class="hp-controls control inaccurate-enable" data-group="units"><img class="controlshow" src="/static/images/peasant.gif" title="Show unit details"></span>
    <span class="hp-controls control inaccurate-disable hidden" data-group="units"><img class="unithide" src="/static/images/peasant.gif" title="Hide unit details"></span>
    <span class="hp-controls control inaccurate-enable" data-group="buildings"><img class="controlshow" src="/static/images/castle.gif" title="Show building details"></span>
    <span class="hp-controls control inaccurate-disable hidden" data-group="buildings"><img class="buildinghide" src="/static/images/castle.gif" title="Hide building details"></span>
    <span class="hp-controls control" data-group="actions"><img class="controlshow" src="/static/images/move.gif" title="Show action details"></span>
    <span class="hp-controls control hidden" data-group="actions"><img class="actionhide" src="/static/images/move.gif" title="Hide action details"></span>
</div>
<div class="statwarning hidden">
    N.B. unit and building counts are inaccurate - canceled construction and products of multiple building select are
    not tracked.
</div>
{% endif %}
<div class="teams">
    {% for (teamId, players) in replay.teams().items() %}
    <div class="team">
        {% if detailed %}
        <div class="teamhead">
            <span class="{% if winnerId is not none %}hp-expand{% endif %} control" data-group="team{{ teamId }}spoilers">Team {{ teamId }}</span>
            {% if teamId == replay['winningTeamId'] %}
            <b class="result hp-hidden h">Winner{% if not replay['winningTeamConfirmed'] %}?{% else %}!{% endif %}</b>
            {% elif winnerId is not none %}
            <b class="result hp-hidden h">Loser{% if not replay['winningTeamConfirmed'] %}?{% else %}!{% endif %}</b>
            {% endif %}
            {% if replay.team_item_count(teamId) > 0 %}
            <span class="hp-controls hidden teamstats" data-group="items">
                <span class="teamcount">{{ replay.team_item_count(teamId) }}</span> items @ <span
                    class="teamgold">{{ replay.team_item_cost(teamId)|thousands }} <img src="/static/images/gold-sm.gif"></span>
            </span>
            {% endif %}
            {% if replay.team_unit_count(teamId) > 0 %}
            <span class="hp-controls hidden teamstats" data-group="units">
                <span class="teamcount">{{ replay.team_unit_count(teamId) }}</span> units @ <span
                    class="teamgold">{{ replay.team_unit_cost(teamId)[0]|thousands }} <img src="/static/images/gold-sm.gif"></span> / <span
                    class="teamwood">{{ replay.team_unit_cost(teamId)[1]|thousands }} <img src="/static/images/lumber-sm.gif"></span>
            </span>
            {% endif %}
            {% if replay.team_building_count(teamId) > 0 %}
            <span class="hp-controls hidden teamstats" data-group="buildings">
                <span class="teamcount">{{ replay.team_building_count(teamId) }}</span> buildings @ <span
                    class="teamgold">{{ replay.team_building_cost(teamId)[0]|thousands }} <img src="/static/images/gold-sm.gif"></span> / <span
                    class="teamwood">{{ replay.team_building_cost(teamId)[1]|thousands }} <img src="/static/images/lumber-sm.gif"></span>
            </span>
            {% endif %}
        </div>
        {% endif %}
        {% for player in players %}
        <div class="player">
            {% if detailed %}
            <div class="icon-name">
                {{ racemacros.icon(player['race'], player['raceDetected']) }}<a class="playername"
                    style="color:{{ replay.player_colors[player['id']]|lighten }}"
                    href="{{ url_for('views.view_player', battletag=player['name']) }}">{{ player['name']|displayname }}</a>
                {% if replay.official() and game_count %}
                    {% if game_count[player['name']] > 1 %}
                        {% if not player.official() %}
                            <span class="gamecount"><sup>({{ game_count[player['name']] }})</sup></span>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <span class="hp-controls hidden" data-group="team{{ teamId }}spoilers">&nbsp;(<b>{{ player['currentTimePlayed']|gametime }}</b>)&nbsp;</span>:
                <div class="summary">
                    {% set chat_actions = replay.get_chat_actions()[player['id']] %}
                    {% if chat_actions > 0 %}
                        {% set chats_per_minute = (chat_actions / (player['currentTimePlayed'] / 1000 / 60))|round|int %}
                        {% set inclusive_actions = player.action_count() + chat_actions %}
                        {% set chat_percentage = (chat_actions / inclusive_actions * 100)|round|int %}
                    {% else %}
                        {% set chats_per_minute = 0 %}
                        {% set inclusive_actions = player.action_count() %}
                        {% set chat_percentage = 0 %}
                    {% endif %}
                    <span class="hp-toggle" title="Chat-inclusive: {{ player['apm'] + chats_per_minute }} APM" 
                        data-group="pm"><b>{{ player['apm'] }}</b>&nbsp;APM</span>
                    <span class="hp-toggle hidden" title="Chat-inclusive: {{ inclusive_actions }} actions, {{ chat_percentage }}% chat" 
                        data-group="pm"><b>{{ player.action_count() }}</b>&nbsp;actions</span>
                    {% if player.tower_count() %}
                    | <span class="hp-toggle" data-group="pm"><b>{{ player.tower_count() }}</b> towers</span>
                    <span class="hp-toggle hidden"
                        data-group="pm"><b>{{ player.towers_per_minute() }}</b>&nbsp;TPM</span>
                    {% endif %}
                    {% if player.net_feed()[0] + player.net_feed()[1] > 0 %}
                    <span class="hp-toggle" data-group="feed"><span class="no-hover">|</span>
                        <b>{{ (player.net_feed()[0] + player.net_feed()[1])|thousands }}</b> sources fed</span>
                    {% endif %}
                    {% if player.net_feed()[0] != 0 or player.net_feed()[1] != 0 %}
                    <span class="feeddetails hp-toggle hidden" data-group="feed"><span class="no-hover">|</span> <b
                            class="gold">{{ player.net_feed()[0] }}</b> / <b
                            class="lumber">{{ player.net_feed()[1] }}</b> fed</span>
                    {% endif %}
                    {% if player['id'] == replay.mvp_id() %}
                    | <span class="award" title="MVP">👑</span>
                    {% elif player['id'] == replay.grb_id() %}
                    | <span class="award" title="Garbage award">🗑️</span>
                    {% endif %}
                </div>
            </div>
            <div class="details">
                <div class="herodetails">
                    {% for h in player.real_heroes() %}
                    <img class="hero" src="/static/images/game/heroes/{{ h['id'] }}.gif"
                        title="{{ h['id']|heroname }}" /><b>{{ h['level'] }}</b>
                    {% endfor %}
                </div>
                {% set player_items = player.decode_items() %}
                <div class="extendeddetails itemdetails hp-controls hidden" data-group="items">
                    {% if player_items|length == 0 %}
                    <div class="item"><i>Zero items purchased!</i></div>
                    {% else %}
                    <table>
                        {% for pi in player_items %}
                        <tr class="item">
                            <td class="name">{{ pi['name'] }}</td>
                            <td class="count">{{ pi['count'] }}</td>
                            <td class="gold">{{ pi['gold'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="item">
                            <td class="name"><i>total</i>:</td>
                            <td class="count">{{ player.total_items_count() }}</td>
                            <td class="gold">{{ player.total_items_cost() }}g</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                {% set player_units = player.decode_units() %}
                <div class="extendeddetails unitdetails hp-controls hidden" data-group="units">
                    {% if player_units|length == 0 %}
                    <div class="unit"><i>Zero units created!</i></div>
                    {% else %}
                    <table>
                        {% for pu in player_units %}
                        <tr class="unit">
                            <td class="name">{{ pu['name'] }}</td>
                            <td class="count">{{ pu['count'] }}</td>
                            <td class="gold">{{ pu['gold'] }}</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ pu['wood'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="unit">
                            <td class="name"><i>total</i>:</td>
                            <td class="count">{{ player.total_units_count() }}</td>
                            <td class="gold">{{ player.total_units_cost()[0] }}g</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ player.total_units_cost()[1] }}w</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                {% set player_buildings = player.decode_buildings() %}
                <div class="extendeddetails buildingdetails hp-controls hidden" data-group="buildings">
                    {% if player_buildings|length == 0 %}
                    <div class="building"><i>Zero buildings constructed!</i></div>
                    {% else %}
                    <table>
                        {% for pb in player_buildings %}
                        <tr class="building">
                            <td class="name">{{ pb['name'] }}</td>
                            <td class="count">{{ pb['count'] }}</td>
                            <td class="gold">{{ pb['gold'] }}</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ pb['wood'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="building">
                            <td class="building"><i>total</i>:</td>
                            <td class="count">{{ player.total_buildings_count() }}</td>
                            <td class="gold">{{ player.total_buildings_cost()[0] }}g</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ player.total_buildings_cost()[1] }}w</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                <div class="extendeddetails actiondetails hp-controls hidden" data-group="actions">
                    {% set player_actions = player.parse_actions() %}
                    {% if chat_actions > 0 %}
                        {{ player_actions.append(('Chat', chat_actions))|default("", True) }}
                    {% endif %}
                    {% if player.action_count() == 0 %}
                    <div class="building"><i>Zero actions performed!</i></div>
                    {% else %}
                    <table>
                    {% for pa in player_actions|sort(attribute='1', reverse=True) %}
                    <tr>
                        <td class="name">{{ pa[0] }}</td>
                        <td class="count">{{ pa[1] }}{% if pa[0] == "Chat" %}{% if player['id'] == replay.loudest_player_id() %} <span class="birdmouth" title="Boastful Knave">🗣️</span>{% endif %}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="icon-name">
                {{ racemacros.icon(player['race'], player['raceDetected']) }}<a class="playername"
                    href="{{ url_for('views.view_player', battletag=player['name']) }}">{{ player['name']|displayname }}</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if not loop.last %}<div class="vs">vs</div>{% endif %}
    {% endfor %}
</div>
{% endmacro %}
