{% extends "layout.html" %}
{% import "replays.html" as replaymacros %}
{% import "tags.html" as tagmacros %}


{% block content %}
<div class="row">
    <div class="12 columns">
        <div class="large-replay">
            <div class="details">
                <h2>
                    <span class="{% if is_admin %}hp-expand{% endif %}">{{ listinfo['Name'] }}</span>
                    {% if is_admin %}
                    <form
                        class="edit hp-hidden h"
                        action="/replay/{{ replay_id }}/edit"
                        method="POST"
                    >
                        <input type="text" name="name" minlength="6" maxlength="50" placeholder="New replay name"
                            value="{{ listinfo['Name'] }}" required />
                        <input type="submit" value="Save" />
                    </form>
                    {% endif %}
                    <div class="tags">
                        {% if replay.official() %}
                        {{ tagmacros.tag('Official') }}
                        {% endif %}
                    </div>
                </h2>
                <div class="content">
                    {% if is_admin %}
                    <div class="admin">
                        <form
                            action="/replay/{{ replay_id }}/delete"
                            method="POST"
                            onsubmit="return confirm('Permanently delete this replay?');"
                        >
                            <input type="submit" value="&#xe816;" />
                        </form>
                    </div>
                    {% endif %}
                    <div class="minimap">
                        <img src="{{ replay.map_name()|mapthumbnail }}" title="{{ replay.map_name() }}" />
                        {% if drawmap['map_size'] %}
                        <canvas
                            class="drawmap anim"
                            data-towers='{{ drawmap["towers"]|tojson|safe }}'
                            data-mapsize='{{ drawmap["map_size"]|tojson|safe }}'
                            data-startlocations='{{ drawmap["start_locations"]|tojson|safe }}'
                            data-paintsize='4'></canvas>
                        {% endif %}
                    </div>
                    <div class="summary">
                        <p><a href="/replay/{{ replay_id }}/download">Download<i class="icon-download-alt"></i></a></p>
                        <p><b>{{ listinfo['Views'] }}</b> views</p>
                        <p>Uploaded {{ listinfo.upload_date() }}</p>
                        <p>Game version <b>{{ replay['version'] }}</b></p>
                        <p><b>{{ replay['duration']|gametime }}</b> long {{ replay['type'] }} game on <a href="{{ replay.map_name()|bigmapurl }}">{{ replay.map_name() }}</a></p>
                        <p>Saved by <a href="{{ url_for('views.view_player', battletag=replay.replay_saver()['name']) }}">{{ replay.replay_saver()['name']|displayname }}</a></p>
                    </div>
                    <script type="application/ld+json">
                        {
                          "@context" : "http://schema.org",
                          "@type" : "Event",
                          "name" : "{{ listinfo['Name'] }}",
                          "startDate" : "{{ listinfo.upload_date_for_computers() }}",
                          "location" : {
                            "@type" : "Place",
                            "name" : "{{ replay.map_name() }}",
                            "address" : "Battle.net"
                          },
                          "maximumAttendeeCapacity": {{ replay['players']|length }},
                          "duration": "{{ replay['duration']|gametime_for_computers }}",
                          "image" : "https://highper.ch{{ replay.map_name()|mapthumbnail }}",
                          "description" : "{{ replay['type'] }} game",
                          "performer" : [{% for player in replay['players'] %}{
                            "@type" : "Person",
                            "name" : "{{ player['name'] }} [{{ player['race']|racetitle }}] : {{ player.get_real_apm() }} APM, {{ player.tower_count() }} tower{% if player.tower_count() != 1%}s{% endif %}, {{ player['heroCount'] }} hero{% if player['heroCount'] != 1 %}es{% endif %}, {{ player.total_items_count() }} item{% if player.total_items_count() != 1 %}s{% endif %}"
                          }{% if not loop.last %},{% endif %}{% endfor %}]
                        }
                    </script>
                </div>
            </div>

            {{ replaymacros.teams(replay, True, game_count) }}

            <h2>Chatlog</h2>
            <div class="chatlog">
                {% if is_admin %}
                <div class="admin">
                    <span class="icon hp-expand">★</span>
                    <div class="addlog-container">
                        <div class="addlog hp-hidden v">
                            <div class="content">
                                <h2>Add to footer</h2>
                                <form action="/footer/{{ replay_id }}" method="POST">
                                    <textarea
                                        name="chat"
                                        placeholder="Paste chatlog here. Whitespace will be trimmed."
                                        minlength="20"
                                        required></textarea>
                                    <input type="submit" value="Save" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for chat in replay.get_formatted_chat() %}
                    {% if chat is none %}
                    <div class="silence"></div>
                    {% else %}
                    <div class="chatmessage">
                        <span class="timestamp">({{ chat['ms']|gametime }} / {{ chat['mode']|chatmode }})&nbsp;</span> 
                        {% if chat['leave'] %}
                        <span class="leave">
                            <span class="playername" style="color:{{ replay.player_colors[chat['playerId']]|lighten }}">{{ chat['player']|displayname }}</span> has left the game
                        </span>
                        {% elif chat['pause'] == True %}
                        <span class="pause">
                            <span class="playername" style="color:{{ replay.player_colors[chat['playerId']]|lighten }}">{{ chat['player']|displayname }}</span> has paused the game
                        </span>
                        {% elif chat['pause'] == False %}
                        <span class="pause">
                            <span class="playername" style="color:{{ replay.player_colors[chat['playerId']]|lighten }}">{{ chat['player']|displayname }}</span> has resumed the game
                        </span>
                        {% else %}
                        <span class="message">
                            <span class="playername" style="color:{{ replay.player_colors[chat['playerId']]|lighten }}">{{ chat['player']|displayname }}</span>: {{ chat['message'] }}
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
