{% macro card(replay) %}
<div class="replay card">
    <div class="minimap">Dare we undertake the sisyphean task of collecting a minimap image for every map?</div>
    <div class="details">
        <div class="header">
            <a class="title" href="{{ url_for('views.view_replay', replay_id=replay['ID']) }}">{{ replay['Name'] }}</a>
        </div>
        <p>{{ replay.game_length() }} | {{ replay['GameType'] }} | {{ replay['Map'] }} | {{ replay['TowerCount'] }} towers</p>
        {{ teams(replay.teams()) }}
    </div>
    <a class="download" href="/download/replay">
        <i class="icon-download-alt"></i>
    </a>
</div>
{% endmacro %}

{% macro teams(teams, detailed=False, winnerId=None) %}
    <div class="teams">
        {% for (teamId, players) in teams.items() %}            
            <div class="team">
                {% if detailed %}
                <div>
                    <u>
                        Team {{ teamId }}
                        {% if teamId == winnerId %}
                        <b>Winner!</b>
                        {% elif winnerId is not none %}
                        <b>Loser!</b>
                        {% endif %}
                    </u>
                </div>
                {% endif %}
            {% for player in players %}
                <img src="/static/images/game/racesw3xp/{{ player['race'] }}.gif"/>{% if player['race'] == 'R' and player['raceDetected'] %}⇛<img src="/static/images/game/racesw3xp/{{ player['raceDetected'] }}.gif"/>{% endif %}
                <a href="{{ url_for('views.view_player', battletag=player['name']) }}">{{ player['name'] }}</a> 
                {% if detailed %}
                <div class="details">
                    {{ player['apm'] }} APM |
                    Actions |
                    Build order |
                    Units |
                    Buildings |
                    Heroes |
                    Items 
                </div>
                {% endif %}
            {% endfor %}
            </div>
        <!--{% if not loop.last %} vs {% endif %}-->
        {% endfor %}
    </div>
{% endmacro %}