{% import "races.html" as racemacros %}
{% import "tags.html" as tagmacros %}

{% macro card(replay, is_admin, lighten) %}
<div class="replay card">
    <div class="minimap">
        <a href="{{ url_for('views.view_replay_slug', replay_id=replay['ID'], replay_slug=replay['Name']|slugify) }}">
            <img src="{{replay['Map']|mapthumbnail}}" title="{{ replay['Map']|canonicalname }}" />
            {% with drawmap = replay.get_drawmap(color_transform=lighten) %}
            {% if drawmap['map_size'] %}
            <canvas class="drawmap" data-towers='{{ drawmap["towers_json"]|safe }}'
                data-mapsize='{{ drawmap["map_size"]|tojson|safe }}'
                data-playerstarts='{{ drawmap["start_locations_json"]|safe }}' data-paintsize='2'></canvas>
            {% endif %}
            {% endwith %}
        </a>
    </div>
    <div class="details">
        <div class="header">
            <a class="title" href="{{ url_for('views.view_replay_slug', replay_id=replay['ID'], replay_slug=replay['Name']|slugify) }}">{{ replay['Name'] }}</a>
        </div>
        <p><a href="/replay/{{ replay['ID'] }}/download" title="Download replay"><i class="icon-download-alt"></i></a> |
            {{ replay['Length']|gametime }} | {{ replay['GameType'] }} | <a class="minorlink" href="{{ url_for('views.view_map', map_name=replay['Map']|canonicalname) }}">{{ replay['Map']|canonicalname }}</a> |
            {{ replay['TowerCount'] }} towers | {{ replay.upload_date() }} {% if replay['Official'] %}|
            {{ tagmacros.tag('Official') }}{% endif %}{% if replay['VODURL'] %}| <a href="{{ replay['VODURL'] }}"><i class="icon-youtube-play" title="VOD"></i></a> {% endif %}{% if is_admin %}| <span class="adminonly">{{ replay['UploaderIP'] }} {{ replay['UploaderIP']|embed_country|safe }}</span>{% endif %}
        </p>
        {{ teams(replay) }}
    </div>
</div>
{% endmacro %}

{% macro teams(replay, detailed=False, game_count=None) %}
{% if detailed %}
<script>
    var player_colors = {{ replay.get_color_codes()|safe }};
    var apm_data = {{ replay.get_apm_data()|safe }};
</script>
<div class="controls">
    <span class="hp-toggle hp-highlight" data-group="items"><img class="controlshow" src="/static/images/townportal.gif" title="Show item details"></span>
    <span class="hp-toggle hp-highlight hidden" data-group="items"><img class="itemhide" src="/static/images/townportal.gif" title="Hide item details"></span>
    <span class="hp-toggle hp-highlight inaccurate" data-group="units" data-inaccurate="1"><img class="controlshow" src="/static/images/peasant.gif" title="Show unit details"></span>
    <span class="hp-toggle hp-highlight inaccurate hidden" data-group="units" data-inaccurate="-1"><img class="unithide" src="/static/images/peasant.gif" title="Hide unit details"></span>
    <span class="hp-toggle hp-highlight inaccurate" data-group="buildings" data-inaccurate="1"><img class="controlshow" src="/static/images/castle.gif" title="Show building details"></span>
    <span class="hp-toggle hp-highlight inaccurate hidden" data-group="buildings" data-inaccurate="-1"><img class="buildinghide" src="/static/images/castle.gif" title="Hide building details"></span>
    <span class="hp-toggle hp-highlight inaccurate" data-group="buildorder" data-inaccurate="1"><img class="controlshow" src="/static/images/humanbuild.png" title="Show build order"></span>
    <span class="hp-toggle hp-highlight inaccurate hidden" data-group="buildorder" data-inaccurate="-1"><img class="buildorderhide" src="/static/images/humanbuild.png" title="Hide build order"></span>
    <span class="hp-toggle hp-highlight" data-group="actions"><img class="controlshow" src="/static/images/move.gif" title="Show action details"></span>
    <span class="hp-toggle hp-highlight hidden" data-group="actions"><img class="actionhide" src="/static/images/move.gif" title="Hide action details"></span>
    <span class="hp-toggle hp-highlight" data-group="apmseries"><img class="controlshow" src="/static/images/stasistrap.png" title="Show APM graph"></span>
    <span class="hp-toggle hp-highlight hidden" data-group="apmseries"><img class="apmhide" src="/static/images/stasistrap.png" title="Hide APM graph"></span>
    {% if replay.get_ally_events()|length > 0 or replay['tradeEvents']|length > 0 %}<span class="hp-toggle hp-highlight" data-group="allyevents"><img class="controlshow" src="/static/images/resource-trade.png" title="Show shares and feeds in chatlog"></span>
    <span class="hp-toggle hp-highlight hidden" data-group="allyevents"><img class="allyhide" src="/static/images/resource-trade.png" title="Hide shares and feeds in chatlog"></span>
    {% else %}
    <span class=""><img class="controlshow" src="/static/images/resource-trade-disabled.png" title="No shares or feeds in this game!"></span>
    {% endif %}
</div>
<div class="statwarning hidden">
    N.B. unit and building counts are inaccurate - canceled construction and products of multiple building select are not tracked.
</div>
<div class="apmcontainer">
    <h2 class="hp-toggle hp-display hidden" data-group="apmseries">Actions per minute</h2>
    <div class="apmseries hp-toggle hp-display hidden" data-group="apmseries">
    </div>
</div>
{% endif %}

<div class="teams">
    {% for (teamId, players) in replay.teams().items() %}
    <div class="team">
        {% if detailed %}
        <div class="teamhead">
            <span class="{% if winnerId is not none %}hp-expand{% endif %} hp-toggle hp-control hp-highlight" data-group="team{{ teamId }}spoilers">Team {{ teamId }}</span>
            {% if teamId == replay['winningTeamId'] %}
            <b class="result hp-hidden h">Winner{% if not replay['winningTeamConfirmed'] %}?{% else %}!{% endif %}</b>
            {% elif winnerId is not none %}
            <b class="result hp-hidden h">Loser{% if not replay['winningTeamConfirmed'] %}?{% else %}!{% endif %}</b>
            {% endif %}
            {% if replay.team_item_count(teamId) > 0 %}
            <span class="hp-toggle hp-display hidden teamstats" data-group="items">
                <span class="teamcount">{{ replay.team_item_count(teamId) }}</span> items @ <span
                    class="teamgold">{{ replay.team_item_cost(teamId)|thousands }} <img src="/static/images/gold-sm.gif"></span>
            </span>
            {% endif %}
            {% if replay.team_unit_count(teamId) > 0 %}
            <span class="hp-toggle hp-display hidden teamstats" data-group="units">
                <span class="teamcount">{{ replay.team_unit_count(teamId) }}</span> units @ <span
                    class="teamgold">{{ replay.team_unit_cost(teamId)[0]|thousands }} <img src="/static/images/gold-sm.gif"></span> / <span
                    class="teamwood">{{ replay.team_unit_cost(teamId)[1]|thousands }} <img src="/static/images/lumber-sm.gif"></span>
            </span>
            {% endif %}
            {% if replay.team_building_count(teamId) > 0 %}
            <span class="hp-toggle hp-display hidden teamstats" data-group="buildings">
                <span class="teamcount">{{ replay.team_building_count(teamId) }}</span> buildings @ <span
                    class="teamgold">{{ replay.team_building_cost(teamId)[0]|thousands }} <img src="/static/images/gold-sm.gif"></span> / <span
                    class="teamwood">{{ replay.team_building_cost(teamId)[1]|thousands }} <img src="/static/images/lumber-sm.gif"></span>
            </span>
            {% endif %}
        </div>
        {% endif %}
        {% if detailed %}
            {% set loudest_player = replay.loudest_player_id() %}
            {% set most_ping_player = replay.most_ping_player_id() %}
            {% set best_shopper = replay.best_shopper_player_id() %}
            {% set best_feeder = replay.best_feeder_player_id() %}
        {% endif %}
        {% for player in players %}
        <div class="player">
            {% if detailed %}
            <div class="icon-name">
                {% if replay.is_dota() %}
                👶
                {% else %}
                {{ racemacros.icon(player['race'], player['raceDetected']) }}
                {% endif %}<a class="playername"
                    style="color:{{ replay.player_colors[player['id']]|lighten }}"
                    href="{{ url_for('views.view_player', battletag=player['name']) }}" title="{{ replay.player_colors[player['id']]|color_name }}">{{ player['name']|displayname }}</a>
                {% if replay.official() and game_count %}
                    {% if game_count[player['name']] > 1 %}
                        {% if not player.official() %}
                            <span class="gamecount"><sup>({{ game_count[player['name']] }})</sup></span>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <span class="hp-toggle hp-highlight hidden" data-group="team{{ teamId }}spoilers">&nbsp;(<b>{{ player['currentTimePlayed']|gametime }}</b>)&nbsp;</span>:
                <div class="summary">
                    {% set chat_actions = replay.get_chat_actions()[player['id']] %}
                    {% if chat_actions > 0 and player['currentTimePlayed'] > 0 %}
                        {% set chats_per_minute = (chat_actions / (player['currentTimePlayed'] / 1000 / 60))|round|int %}
                        {% set inclusive_actions = player.action_count() + chat_actions %}
                        {% set chat_percentage = (chat_actions / inclusive_actions * 100)|round|int %}
                    {% else %}
                        {% set chats_per_minute = 0 %}
                        {% set inclusive_actions = player.action_count() %}
                        {% set chat_percentage = 0 %}
                    {% endif %}
                    <span class="hp-toggle hp-highlight" title="Chat-inclusive: {{ player.get_real_apm() + chats_per_minute }} APM"
                        data-group="apm"><b>{{ player.get_real_apm() }}</b>&nbsp;APM</span>
                    <span class="hp-toggle hp-highlight hidden" title="Chat-inclusive: {{ inclusive_actions }} actions, {{ chat_percentage }}% chat" 
                        data-group="apm"><b>{{ player.action_count() }}</b>&nbsp;actions</span>
                    {% if player.tower_count() %}
                    | <span class="hp-toggle hp-highlight" data-group="tpm"><b>{{ player.tower_count() }}</b> towers</span>
                    <span class="hp-toggle hp-highlight hidden"
                        data-group="tpm"><b>{{ player.towers_per_minute() }}</b>&nbsp;TPM</span>
                    {% endif %}
                    {% if player.net_feed()[0] + player.net_feed()[1] > 0 %}
                    <span class="hp-toggle hp-highlight " data-group="feed"><span class="no-hover">|</span>
                        <b>{{ (player.net_feed()[0] + player.net_feed()[1])|thousands }}</b> sources fed</span>
                    {% endif %}
                    {% if player.net_feed()[0] != 0 or player.net_feed()[1] != 0 %}
                    <span class="hp-toggle hp-highlight hidden" data-group="feed"><span class="no-hover">|</span> <b
                            class="gold">{{ player.net_feed()[0] }}</b> / <b
                            class="lumber">{{ player.net_feed()[1] }}</b> fed</span>
                    {% endif %}
                    {% if replay.is_dota() and player['id'] == replay['saverPlayerId'] %}
                    <span class="award" title="Welcome to the bathroom" style="font-size: 30px">🚽</span>
                    {% endif %}
                    {% if player['id'] == replay.mvp_id() %}
                    | <span class="award" title="MVP">👑</span>
                    {% elif player['id'] == replay.grb_id() %}
                    | <span class="award" title="Garbage award">🗑️</span>
                    {% endif %}
                    {% if player['id'] == loudest_player %}
                    | <span class="award" title="Boastful Knave">🗣️</span>
                    {% endif %}
                    {% if player['id'] == most_ping_player %}
                    | <span class="award" title="Ping Monster">❗</span>
                    {% endif %}
                    {% if player['id'] == best_shopper %}
                    | <span class="award" title="Power Shopper">🛒</span>
                    {% endif %}
                    {% if player['id'] == best_feeder %}
                    | <span class="award" title="Head of the household">🍽️</span>
                    {% endif %}
                    {% if player.tp_count() >= 5 %}
                    | <span class="award" title="TP freak">🧻</span>
                    {% endif %}
                    {% if replay.get_nohero_players()[player['id']] %}
                    | <span class="award" title="The real hero">🎖️</span>
                    {% endif %}
                    {% if replay.get_arranged_team(player['id']) != None and replay.game_host_type() == 'ladder' %}
                    <div class="arrangedteam" title="Probably an arranged team, based on early game mutual shared control">[AT{% if replay.detect_arranged_teams()|length > replay.teams()|length %} #{{ replay.get_arranged_team(player['id']) }}{% endif %}]</div>
                    {% endif %}
                </div>
            </div>
            <div class="details">
                <div class="herodetails hp-toggle" data-group="heroes-{{ player['id'] }}">
                    {% set rh = player.real_hero_ids() %}
                    {% set ha = player.hero_abilities() %}
                    {% for h in ha %}
                    {% if h in rh %}
                    <img class="heropic" src="/static/images/game/heroes/{{ h }}.gif"
                        title="{{ h|heroname }}" /><div class="level">{{ ha[h]['level'] }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="heroabilities hp-toggle hidden" data-group="heroes-{{ player['id'] }}">
                    {% for h in ha %}
                    <div class="hero"><img class="heropic" src="/static/images/game/heroes/{{ h }}.gif">
                        <div class="herotext{% if not h in rh %} alienhero" title="Shared control teammate skillup{% endif %}">{{ h|heroname }}</div>
                        {% if ha[h]['retrains'] > 0 %}<div class="retrains">(<img src="/static/images/tomeofretraining.gif" title="Retrain"> x{{ ha[h]['retrains'] }})</div>{% endif %}
                        {% for abil, count in ha[h]['skills'].items() %}
                        <div class="ability">
                            <img class="abilitypic" src="/static/images/game/abilities/{{ abil|abilityimg }}.gif">
                            <div class="abilitytext{% if abil|isultimate %} ultimate{% endif %}">
                                {{ abil|abilityname }}{% if not abil|isultimate %}: <b>{{ count }}</b>{% endif %}
                            </div>
                        </div>{% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% set player_items = player.decode_items() %}
                <div class="extendeddetails itemdetails hp-toggle hp-display hidden" data-group="items">
                    {% if player_items|length == 0 %}
                    <div class="item"><i>Zero items purchased!</i></div>
                    {% else %}
                    <table>
                        {% for pi in player_items %}
                        <tr class="item">
                            <td class="name">{{ pi['name'] }}</td>
                            <td class="count">{{ pi['count'] }}</td>
                            <td class="gold">{{ pi['gold'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="item">
                            <td class="name"><i>total</i>:</td>
                            <td class="count">{{ player.total_items_count() }}</td>
                            <td class="gold">{{ player.total_items_cost() }}g</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                {% set player_units = player.decode_units() %}
                <div class="extendeddetails unitdetails hp-toggle hp-display hidden" data-group="units">
                    {% if player_units|length == 0 %}
                    <div class="unit"><i>Zero units created!</i></div>
                    {% else %}
                    <table>
                        {% for pu in player_units %}
                        <tr class="unit">
                            <td class="name">{{ pu['name'] }}</td>
                            <td class="count">{{ pu['count'] }}</td>
                            <td class="gold">{{ pu['gold'] }}</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ pu['wood'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="unit">
                            <td class="name"><i>total</i>:</td>
                            <td class="count">{{ player.total_units_count() }}</td>
                            <td class="gold">{{ player.total_units_cost()[0] }}g</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ player.total_units_cost()[1] }}w</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                {% set player_buildings = player.decode_buildings() %}
                <div class="extendeddetails buildingdetails hp-toggle hp-display hidden" data-group="buildings">
                    {% if player_buildings|length == 0 %}
                    <div class="building"><i>Zero buildings constructed!</i></div>
                    {% else %}
                    <table>
                        {% for pb in player_buildings %}
                        <tr class="building">
                            <td class="name">{{ pb['name'] }}</td>
                            <td class="count">{{ pb['count'] }}</td>
                            <td class="gold">{{ pb['gold'] }}</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ pb['wood'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="building">
                            <td class="building"><i>total</i>:</td>
                            <td class="count">{{ player.total_buildings_count() }}</td>
                            <td class="gold">{{ player.total_buildings_cost()[0] }}g</td>
                            <td class="slash"> / </td>
                            <td class="wood">{{ player.total_buildings_cost()[1] }}w</td>
                        </tr>
                    </table>
                    {% endif %}
                </div>
                <div class="extendeddetails buildorder hp-toggle hp-display hidden" data-group="buildorder">
                    {% set bo = player.build_order() %}
                    {% if bo|length == 0 %}
                    <div class="built"><i>Absolutely nothing!</i></div>
                    {% else %}
                    <table>
                        {% for b in bo %}
                        <tr class="built">
                            <td class="time">{{ b['ms']|gametime }}</td>
                            <td class="name">{{ b['name'] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                <div class="extendeddetails actiondetails hp-toggle hp-display hidden" data-group="actions">
                    {% set player_actions = player.parse_actions() %}
                    {% if chat_actions > 0 %}
                        {{ player_actions.append(('Chat', chat_actions))|default("", True) }}
                    {% endif %}
                    {% if player.action_count() == 0 %}
                    <div class="building"><i>Zero actions performed!</i></div>
                    {% else %}
                    <table>
                    {% for pa in player_actions|sort(attribute='1', reverse=True) %}
                    <tr>
                        <td class="name">{{ pa[0] }}</td>
                        <td class="count">{{ pa[1] }}</td>
                    </tr>
                    {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="icon-name">
                {{ racemacros.icon(player['race'], player['raceDetected']) }}<a class="playername{% if player['name'] == replay['UploaderBattleTag'] %} listsaver{% endif %}"
                    href="{{ url_for('views.view_player', battletag=player['name']) }}">{{ player['name']|displayname }}</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if not loop.last %}<div class="vs">vs</div>{% endif %}
    {% endfor %}
</div>
{% endmacro %}
