{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>{{ listinfo['Name'] }}</h2>
        <div class="blend">
            <p>{{ listinfo.upload_date() }}</p>
            <p>{{ listinfo['Views'] }}</p>
            <p>{{ replay.map_name() }}</p>
            {% for (teamid, players) in replay.teams().items() %}
            <div>
                {% for player in players %}{{ player['name'] }}{% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% macro card(replay) %}
<div class="replay card">
    <div class="minimap">Minimap here</div>
    <div class="details">
        <div class="header">
            <a class="title" href="{{ url_for('views.view_replay', replay_id=replay['ID']) }}">
                {{ replay['Name'] }} {{ replay['Map'] }}
            </a>
            <a class="download" href="/download/replay">
                Download
            </a>
        </div>
        <div class="teams">
            {% for (teamid, players) in replay.teams().items() %}

                {% for player in players %}
                    <a href="/player/id/">{{ player['name'] }}</a> 
                {% endfor %}

            {% if not loop.last %} vs {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}
