.console {
    hr {
        border-top: 1px solid $primary-color;
        margin: 20px 5% 20px 5%;
    }
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @media (#{$bp-larger-than-tablet}) {
        flex-direction: row;
    }
    h2 {
        display: flex;
    }
    h3 {
        font-size: 16px;
        margin-bottom: 0;
        padding: 8px;
        letter-spacing: 0rem;
    }
    .box {
        flex: 1;
        &:last-child {
            margin-bottom: $padding * 2;
        }
        @media (#{$bp-larger-than-tablet}) {
            margin-bottom: $padding * 2;
        }
    }
    .inner {
        background-color: $card-background-color;
        padding: $padding * 2;
    }
    .break {
        padding: 50px;
    }
    .statblock {
        p {
            margin-bottom: 0px;
        }
        .stats {
            font-size: 10px;
            background-color: rgba(255,255,255,0.05);
            width: fit-content;
            width: -moz-fit-content;
            margin-top: 5px;
            margin-left: 20px;
            padding: 0px 10px 0px 10px;
            table, th {
                border-collapse: collapse;
                border-bottom: none;
                margin-bottom: 0;;
            }
            tr {
                margin: 0px;
                line-height: 10px;
            }
            td {
                border: none;
                text-align: right;
                padding: 5px;
            }
        }
        .bans {
            font-size: 12px;
            background-color: rgba(255,255,255,0.05);
            line-height: 1rem;
            table, th {
                border-collapse: collapse;
                border-bottom: none;
                margin-bottom: 0;
                padding: $padding;
                width: 100%;
                table-layout: fixed;
                .wide {
                    width: 150%;
                }
            }
            tr {
                margin: 0px;
            }
            td, th {
                border: none;
                text-align: left;
                padding: 4px 12px 4px 12px;
                line-height: 1.3;
            }
            form {
                margin: 0px;
            }
            .unban {
                font-weight: bold;
                color: $primary-color;
                font-size: 12px;
                border: none;
                padding: 0px;
                margin: 0px;
                letter-spacing: normal;
            }
        }
    }
}