.hp-expand,
.hp-toggle {
  cursor: pointer;
  transition: color 200ms linear;
  &:hover {
      color: #FFF;
  }
  &.size-ph {
    @media (#{$bp-larger-than-phablet}) {
      display: none;
    }
  }
}

.hp-controls {
  cursor: pointer;
  &:hover {
      color: #FFF;
  }
  &.size-ph {
    @media (#{$bp-larger-than-phablet}) {
      display: none;
    }
  }
}

.no-hover {
  color: $primary-color !important;
}

.hp-hidden {
  overflow: hidden;
  &.v { 
    max-height: 0;
    &.visible {
      max-height: 100vh;
      transition: max-height 300ms ease-out;
    }
    &.size-ph {
      @media (#{$bp-larger-than-phablet}) {
        max-height: 100vh;
      }
    }
  }

  &.h {
    transition: max-width 300ms ease-out;
    max-width: 0;
    &.visible {
      max-width: 100vh;
    }
    &.size-ph {
      @media (#{$bp-larger-than-phablet}) {
        max-width: 100vh;
      }
    }
  }
}

.hp-toggle.hidden {
  display: none;
}

.hp-controls.hidden {
  display: none;
}

.statwarning.hidden {
  display: none;
}