footer {
    text-align: center;
}

footer>div {
    text-align: left;
    display: inline-block;
    margin: 15px;
    background: rgba(141, 168, 226, 0.4);
    border: 1px dotted #fff;
    border-radius: 6px;
    padding: 5px 15px;
    color: #ddd;
    font-style: italic;
    font-size: 12px;
    text-shadow: 1px 1px 0 #333;
}

footer p {
    margin: 0;
}