header {
    background: rgba(0, 0, 0, 0.4);
    text-align: left;

    h1 {
        font-size: 40px;
        margin: 0;
        color: #ccac8f;
        font-family:"highperch";
        font-size:80px;
        .perch {
            color: #e6d9cf;
        }
    }
}