a, a:visited {        
    color: $link-color;
}
a:hover{
    color: #FFF;
}

.barrens {
    a, a:visited {
        color: $barrens-link-color;
    }
    a:hover{
        color: #FFF;
    }
}


.lordaeron {
    a, a:visited {
        color: $lordy-link-color;
    }
    a:hover{
        color: #FFF;
    }
    
}
.icecrown {
    a, a:visited {
        color: $ice-link-color;
    }
    a:hover{
        color: #FFF;
    }
    
}

nav {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: $large-font;
    z-index: 1;
    background: $card-alt-background-color;
}

nav a, span.action, img.action {
    cursor: pointer;
}

span.action {
    padding-top: 1px;
    padding-bottom: 2px;
}

nav span.submenu {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 21px;
}

nav ul {
    text-align: center;
    display: none;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 22px;
}

nav.expanded ul {
    display: block;
}

nav {
    .shortname {
        display:inline;
        @media (#{$bp-larger-than-tablet}) {
            display:none;
        }
    }
    .name {
        display:none;
        @media (#{$bp-larger-than-tablet}) {
            display:inline;
        }
    }
    a {
        text-decoration: none;
        display:inline-block;
        padding:$padding*2 $padding;
        &:hover{
            text-decoration: underline;
        }
    }
    .row {
        display: flex;
        align-items: center;
    }
    .views {
        flex:auto;
        display:flex;
        margin: 0;
        z-index: 3;
    }
    ul {
        display: flex;
        justify-items:center;
        margin: 0;
        font-size: 18px;
        li {
            list-style: none;
            display: inline-block;
            margin-bottom:0;
            line-height: 1;
            &.admin,
            &.background-picker {
                img {
                    margin:$padding/2;
                    border:1px solid rgba(0,0,0,0);
                    &:hover{
                        border:1px solid $primary-color;
                    }
                }
                a {
                    padding: 0px;
                    margin: 0;
                }
            }
            &.admin.div a {
                @media (#{$bp-larger-than-phablet}) {
                    margin-right: $padding * 2;
                }
            }
        }
    }
}

@media (#{$bp-larger-than-phablet}) {
    nav {
        font-size: 18px;
        text-align: center;
    }
    nav .views {
        margin-right: $margin;
    }
    nav a {
        margin-right: $padding * 2;
    }
    nav span.submenu {
        right: 2%;
        top: 1px;
    }
}

nav {
    text-align: left;
}
nav span.submenu {
    display: none;
}