.controls {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 12px;
    padding: 5px 5px 0px 5px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: $card-background-color;
    margin-bottom: 15px;
    $outline-size: 3px;
    .controlshow {
        display: inline;
        img {
            width: 32px;
            height: 32px;
            @media (#{$bp-larger-than-tablet}) {
                width: 64px;
                height: 64px;
            }
        }
    }
    .zoomenabled {
        outline: $outline-size #6a8d91 solid;
        outline-offset: -$outline-size;
    }
    .crittersenabled {
        outline: $outline-size #c2ec56 solid;
        outline-offset: -$outline-size;
    }
}
.player,
.map {    
    &.details {
        margin-bottom: $padding * 2;
    }
    .stats {
        display: flex;
        flex-direction: column;
        @media (#{$bp-larger-than-tablet}) {
            flex-direction: row;
        }
        div {
            flex: 1;
        }
    }
    .neutrals {
        text-align: center;
        margin-top: 20px;
    }
    .chart {
        display: flex;
        flex-direction: column;
        margin-right: $margin;
        .chartrow {
            display: flex;
            flex: 1;
            margin: 4px 0;
            .legend {
                display: flex;
                align-self: center;
            }
            .barcontainer {
                flex: 1;
                .bar {
                    text-align: center;
                    border: 1px solid #000;
                    border-radius: $global-radius;
                    span {
                        cursor: default;
                        font-weight: bold;
                        color: #FA6;
                    }
                }
            }
        }
        &.race .bar {
            &.H {
                background: #0042ff;
            }
            &.O {
                background: #006400;
            }
            &.N {
                background: #540081;
            }
            &.U {
                background: #959697;
            }
        }
        &.map {
            .legend {
                padding-right: $padding;
            }
            .bar {
                // Fallback for crazy FFAs etc
                background: #5adbff;
                // Todo: representative colors, add more game types
                &.t1on1 {
                    background: #094074;
                }
                &.t2on2 {
                    background: #6b0f1a;
                }
                &.t3on3 {
                    background: #414066;
                }
                &.t4on4 {
                    background: #4d9078;
                }
            }
        }
    }
    .bigmap-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: $margin;
        margin-bottom: $margin;
    }
    .bigmap {
        user-select: none;
        line-height: 0;
        max-width: 100%;
        &.lesshuge {
            max-width: 550px;
        }
    }
    #neutraltip {
        user-select: none;
        display: none;
        position: absolute;
        padding: 7px;
        border: 1px black solid;
        background-color: rgba(0,0,0,0.8);
        .tiptext {
            margin: 5px;
            text-align: center;
            color: $primary-color;
            font-size: 15px;
            white-space: nowrap;
            line-height: 1rem;
            .creeplevel {
                font-style: italic;
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }

    #creeptip {
        display: none;
        position: absolute;
        padding: 7px;
        border: 1px black solid;
        background-color: rgba(0,0,0,0.8);
        overflow: visible;
        table {
            border-collapse: collapse;
            margin-bottom: 0px;
        }
        th {
            border-bottom: none;
            padding: 0px;
            text-align: center;
        }

        tr {
            border-collapse: collapse;
            border-bottom: none;
            padding: 5px;
            user-select: text;
        }

        td {
            border-bottom: none;
            border-top: none;
            padding: 5px;
        }
        .creeprow {
            // border-bottom: 1px dashed grey;
            border-bottom: none;
        }
        .count {
            // font-weight: bold;
            font-size: 16px;
            padding-right: 5px;
            white-space: nowrap;
            .times {
                vertical-align: center;
            }
        }
        .creepicon {
            img {
                width: 32px;
                height: 32px;
                min-width: 32px;
                min-height: 32px;
            }
            padding-left: 0px;
            padding-right: 0px;
        }
        .creepname {
            white-space: nowrap;
            padding-left: 5px;
            font-size: 12px;
        }
        .level {
            font-size: 12px;
            text-align: center;
        }
        .exp {
            font-size: 12px;
            color: rgb(0, 197, 197);
            text-align: center;
        }
        .drops {
            // padding: 5px;
            .drop {
                padding: 5px;
                margin: 2px;
                white-space: nowrap;
                width: fit-content;
                width: -moz-fit-content;
                img {
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    min-height: 24px;
                }
            }
            .droptable {
                border: 1px dashed gray;
                border-radius: 3px;
            }
        }
        .total {
            font-style: italic;
        }
        .totalexp {
            font-size: 9px;
        }
    }
}
