.sortable {
    border-bottom:1px solid black;
    align-items: center;
    width: 100%;
    .neutral {
        width: 30px;
    }
    table {
        // max-width: 100%;
        border-collapse: collapse;
        margin-bottom: 0px;
        table-layout: fixed;
    }
    th {
        font-weight: normal;
        font-size: 12px;
        padding: 5px;
        border: none;
        text-align: center;
        cursor: pointer;
        background: $card-alt-background-color;
    }
    th:hover {
        color: white;
    }
    tr {
        background: $card-background-color;;
        &:nth-child(even) {
            background: $card-alt-background-color;
        }
    }
    td {
        border-bottom: none;
        padding: $padding;
        text-align: center;
    }
    .optionaltext {
        display: none;
        @media (#{$bp-larger-than-tablet}) {
            display: inline;
        }
    }
    .optional {
        display: none;
        @media (#{$bp-larger-than-tablet}) {
            display: table-cell;
        }
    }
    .thumbcol {
        text-align: left;;
    }
    .thumb {
        max-height: 50px;
        vertical-align: middle;
        padding-right: 5px;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        padding: 0px;
    }
    
    th[role=columnheader]:not(.no-sort) {
        cursor: pointer;
    }

    th[role=columnheader]:not(.no-sort):after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 4px 4px 0;
        border-style: solid;
        border-color: $primary-color transparent;
        visibility: hidden;
        opacity: 0;
        user-select: none;
    }
    
    th[aria-sort=ascending]:not(.no-sort):after {
        border-width: 0 4px 4px;
    }
    
    th[aria-sort]:not(.no-sort):after {
        visibility: visible;
        opacity: 0.4;
    }
    
    th[role=columnheader]:not(.no-sort):hover:after {
        visibility: visible;
        opacity: 1;
    }
}

.racesplit {
    padding: none;
    white-space: nowrap;
    .racebar
    {   
        border: 1px solid black;
        border-radius: 4px;
        display: inline-block;
        height: 24px;
        &.H {
            background: #0042ff;
        }
        &.O {
            background: #006400;
        }
        &.N {
            background: #540081;
        }
        &.U {
            background: #959697;
        }
        &.R {
            background: #7d261b;
        }
    }
}

.playercontrols {
    width: fit-content;
    width: -moz-fit-content;
    font-size: 12px;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: $card-background-color;
    $outline-size: 3px;
}