$padding: 8px;
$margin: 16px;

// Skeleton variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #FFF5DF !default;
$dark-grey: #333 !default;
$primary-color: #FFCCA3 !default;
$secondary-color: #8fb82e !default;
$border-color: #bbb !default;
$link-color: #a8c564 !default;
$font-color: #222 !default;

// Icecrown Colors
$ice-link-color: #e7c595;

// Lordaeron Colors
$lordy-link-color: #e7c595;

$card-background-color: rgba(27, 15, 15, 0.5);
$card-alt-background-color: rgba(0.2, 0.1, 0, 0.75);

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width-larger-than-mobile: 90% !default;
$container-width-larger-than-phablet: 80% !default;
$container-width: 1170px !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
