$padding: 8px;
$margin: 16px;

// Skeleton variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #FFF5DF !default;
$dark-grey: #999 !default;
$primary-color: #c4976f; 
$secondary-color: #e54b4b !default;
$border-color: #bbb !default;
$link-color: #FF7F00 !default;
$font-color: #222 !default;
$perch-beige: #bf8d60;

// Barrens colors
$barrens-link-color:#FFCCA3;

// Icecrown Colors
$ice-link-color: #e7c595;
$ice-secondary-color: #FFD700;

// Lordaeron Colors
$lordy-link-color: #e7c595;
$lordy-secondary-color: #FFD700;

// Distinct Admin sections
$admin-color: #33ccff;
$admin-bg: #33ccff99;

$card-background-color: rgba(10, 5, 5, 0.75);
$card-alt-background-color: rgba(1, 1, 1, 0.90);

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$large-font: 16px;

//Grid Variables
$container-width-larger-than-mobile: 90% !default;
$container-width-larger-than-phablet: 80% !default;
$container-width: 1170px !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
